@tailwind base;
@tailwind components;
@tailwind utilities;

.three-d {
    text-shadow: 0px 2px 0px rgb(252, 165, 165);
}

.dark .three-d {
    text-shadow: 0px 2px 0px rgb(252, 165, 165);
}

.three-d {
    text-shadow: none;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #000000;
    background-color: rgba(254, 202, 202, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}